
<h2> You've been logged out! Good job. </h2>

<p>
  <a href="/login">Login to your account &rarr;</a>
<p>

<script src='/client/app.js'></script>
<script src='/client/link.js'></script>
<script src='/client/links.js'></script>
<script src='/client/linkView.js'></script>
<script src='/client/linksView.js'></script>
<script src='/client/createLinkView.js'></script>
<script src='/client/router.js'></script>
